$font-Family:'Montserrat Alternates'; 
$bg-Color:#131722;
$lightBg-Color:#24baef;
$bg-Transparent:rgba(36,186,239,.6) ;
$font-Color:#fff;
$border-Color:#a8a8a83d;
$border-Height:1px;
$second-FontColor:#949cb0;
$font-size: 0.9rem;
//For some New Styling
$main-color: #C8235D;
$second-color: #7F66DE;
$black-color: #3D3D3D;
$grey-color: #707070;
$light-grey-color: #C4C4C4;
$bg: #1d1d1d;